<div class="slide">
  <div class="title-header"><div><span class="title-eyebrow">STRENGTHS</span>強みと今後の展望</div></div>
  <div class="content strengths-content">
    <div class="strengths-container">{{#each items}}<div class="strength-item"><div class="strength-icon">{{inc @index}}</div><div class="strength-content"><div class="strength-title">{{{emphasis title}}}</div><div class="strength-description">{{{emphasis description}}}</div></div></div>{{/each}}</div>
    <div class="strengths-footer">
      <div class="future-focus"><div class="future-focus-title">今後の注力分野</div><div class="focus-highlights">{{#each focusAreas}}<div class="focus-highlight">{{{emphasis this}}}</div>{{/each}}</div></div>
      <div class="certifications"><div class="certifications-title">保有資格</div><div class="cert-list">{{#each certifications}}<div class="cert-item">{{{emphasis name}}}{{#if acquiredAt}}<span> / {{acquiredAt}}</span>{{/if}}</div>{{/each}}</div></div>
    </div>
  </div>
</div>
