<div class="slide title-slide">
  <div class="title-frame">
    <div class="title-kicker">職務経歴書 / CAREER PROFILE</div>
    <div class="title-rule" aria-hidden="true"></div>
  </div>
  <div class="content">
    {{#if profession}}<div class="title-slide-label">{{{emphasis profession}}}</div>{{/if}}
    <div class="name">{{{emphasis name}}}</div>
    <div class="name-reading">{{{emphasis nameReading}}}</div>
    {{#if headline}}<div class="headline">{{{emphasis headline}}}</div>{{/if}}
    <div class="company">{{{emphasis company}}}</div>
  </div>
</div>
