.detail-mode {
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        "tc-title tc-title"
        "tc-flow tc-sidebar"
        "tc-main tc-sidebar";
}

.tc-flow,
.tc-main,
.tc-sidebar {
    background: #fff;
    border-radius: 8px;
    padding: 12px;
}

.tc-flow {
    grid-area: tc-flow;
}

.tc-main {
    grid-area: tc-main;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.tc-sidebar {
    grid-area: tc-sidebar;
    display: flex;
    flex-direction: column;
    gap: 16px;
}